@use '../../variables.scss' as v;

.header {
    background-color: v.$blue;
    padding: 1em 1.5em;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    position: sticky; 
	  top: 0;
    height: 100px;
    margin-bottom: 100px;
    align-items: center;
    
    li {
      list-style: none;
      display: inline-flex;
      margin: 1em;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

.logo {
    width: 200px;   
}

.burgerMenuIconContainer {
  width: 30px;
  display: none;
}

@media screen and (max-width: 768px) {
  .burgerMenuIconContainer {
    display: flex;
  }
  .topNav {
    display: none;
  }
}

.sideNav {
  position: fixed;
  top: 100px;
  background-color: v.$white;
  width: 100%;
  transition: 0.5s ease-in-out;

  a {
    color: v.$blue;
    text-decoration: none;
  }

  a:hover {
    color: v.$yellow;
  }

  li {
    list-style: none;
    padding: .5em;
  }
}