
@use './variables.scss' as v;

.hero {
    height: 300px;
    background-image: url('/img/racoons.jpeg');
    background-size: cover;
    background-position-y: center;
    align-self: flex-start;
    display: flex;

    .h1Container {
        align-self: flex-end;
        width: 100%;
        padding: 1em;
    }

    h1 {
        color: v.$white;
        text-shadow: 4px 4px 4px rgba(0,0,0,0.6);
        font-size: 4em;

        @media screen and (max-width: 768px) {
            font-size: 3em;
        }
    }
}

.intro {
    background-color: v.$grey;
    border-radius: 1em;
    margin-top: 1em;
    max-width: 800px;
    display: flex;

    p {
        padding: 2em;
        line-height: 2em;
    }

    a {
        width: 150px;
        text-align: center;
    }

    .buttonContainer {
        background-image: url('/img/animal-pattern.png');
        background-size: cover;
        border-radius: 0 1em 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
