@use '../variables' as v;

.section {
    background-color: v.$grey;
    padding: 1em;
    width: min(95%, 400px);
    margin: 1em auto;
    height: auto;
    border-radius: 1em;
    display: flex;
    gap: 16px;

    .shiftImage {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

}

.volunteerLiContent {
    display: inline-flex;
    gap: 8px;
    align-items: center;

    .deleteIcon {
        cursor: pointer;
    }
}

.title {
    margin-top: 1em;
    text-align: center;
    color: v.$green;
}

.warn {
    color: v.$orange;
    font-style: italic;
    border: 1px dashed v.$charcoal;
    padding: .5em;
    margin-top: 6px;
    text-align: center;
}

