@use '../variables' as v;

.section {
    background-color: v.$grey;
    padding: 1em;
    width: 400px;
    margin: 1em auto;
    height: auto;
    border-radius: 1em;
    display: flex;
    gap: 16px;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.title {
    margin-top: 1em;
    text-align: center;
    color: v.$green;
}

.warn {
    color: v.$orange;
    font-style: italic;
    border: 1px dashed v.$charcoal;
    padding: .5em;
    margin-top: 6px;
    text-align: center;
}

.dateChanger {
    margin: 1em auto;
    text-align: center;
    width: 400px;

    input {
        padding: .25em;
        border-radius: 6px;
        border: 1px solid v.$charcoal;
        margin-bottom: 1em;
    }
}