@use '../variables' as v;

.container {
    width: min(420px, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    background-color: v.$grey;
    padding: 2em;
    height: auto;
    border-radius: 1em;

    input:not([type=radio]) {
        margin: .5em 0;
        width: 320px;
        padding: .5em;
        border-radius: 6px;
        border: none;
    }

    input[type=radio] {
        display: inline-block
    }

    fieldset {
        width: 320px;
    }

    .title {
        margin-bottom: .125em;
        text-align: center;
        color: v.$green;
    }

    .error {
        color: v.$orange;
    }

    .disabledBtn {
        background-color: v.$disabledGrey;
    }

    form {
        width: 324px;
    }
}